# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt beep nomatch
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/martin/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# starship
eval "$(starship init zsh)"

# default editor
{{ if eq .chezmoi.os "darwin" -}}
export EDITOR=$(which zed)
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "arch" }}
export EDITOR=/usr/bin/nvim
{{ else -}}
export PATH="$PATH:/opt/nvim-linux64/bin"
export EDITOR=/opt/nvim-linux64/bin/nvim
{{ end -}}
{{ end -}}

# go
export PATH=$PATH:$(go env GOPATH)/bin
